/notes/*
/Week1Introduction/*
/Week2LogisticRegression/*
/Week3ShallowNN/*
/Week4DeepNN/*
/Week5Practical_aspects_of_Deep_Learning/*
/Week6Optimization_algorithms/*
/Week7HyperparameterTuning_BatchNormalization_ProgrammingFrameworks/*
/Week8ML_Strategy/*
